@import "tailwindcss";

body {
  @apply bg-[#F6F3EC] text-[#1E1635];
  font-family: 'Inter', sans-serif;
}
@keyframes pop {
  0% { transform: scale(0.98); opacity: 0.5; }
  50% { transform: scale(1.07); opacity: 1; }
  100% { transform: scale(1); }
}
.animate-pop {
  animation: pop 0.6s ease;
}
